<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/particlesjs/particles.css">
    <link rel="stylesheet" href="/public/css/general.css">
    <link rel="stylesheet" href="/public/css/secciones.css">
    <link rel="stylesheet" href="/public/css/navbar.css">
    <title>Joaquin Gerez | FullStack Developer</title>
</head>
<body>

    <header>
        <div class="containernav">
            <div class="menu-btn">
                <div class="menu-btn-burger">

                </div>

            </div>
            <nav class="nav">
                <a href="home.html" class="logo">JG</a>
                <ul class="nav-list">
                    <li>
                        <a href="home.html">Sobre mi</a>
                    </li>
                    <li>
                        <a href="home.html">Portfolio</a>
                    </li>
                    <li>
                        <a href="home.html">Curriculum</a>
                    </li>
                    <li>
                        <a href="home.html">Contacto</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    
    <div id="particles-js"></div>

    <!-- Seccion Sobre Mi -->
  <main> 
    <section class="section1">
       <h3>Sobre mi</h3>
        <p>
           Hola, Soy Joaquin Gerez, soy tecnico informatico y desarrollador Web Full Stack. <br>
            Actualmente estudio la carrera de grado Analista en Tecnologias de la Informacion
        </p> 
        <div class="lenguajes ">
        <i class="fab fa-html5"></i>
        <i class="fab fa-css3-alt"></i>
        <i class="fab fa-js-square"></i>
    
    </div>
   </section>
   <section class="section2">
    <h3>Portfolio</h3>
     
 
 </div>

</section>

<section class="section3">
    <h3>Curriculum</h3>
    
</section>

<section class="section3">
    <h3>Contacto</h3>
    
</section>



</main>

<!-- Script para efecto al scrollear navbar -->
<script>
   window.addEventListener('scroll', function(){
       let nav = document.querySelector('nav')
        let windowPosition = window.scrollY > 0
       nav.classList.toggle('scrolling-active', windowPosition);

    })
    </script>

<!-- Script para hamburgesa menu animacion -->
<script src="/public/js/burgermenuanimation.js"></script>

<script src="https://code.jquery.com/jquery-3.6.0.js"></script> <!-- jquery ndc -->
<script src="https://cldup.com/S6Ptkwu_qA.js"></script> <!--  particles.js script -->
<script src="/particlesjs/script.js"></script> 

</body>
</html>