@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&family=Roboto:wght@300&family=Work+Sans:wght@100;300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&family=Poppins:ital,wght@0,100;0,300;0,500;1,200&family=Roboto:wght@300&family=Work+Sans:wght@100;300;700&display=swap');

.nav {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(197, 195, 195, 0.349);
    transition: .5s ease;
    position: fixed;
    z-index: 9;
}

.burguermenu svg{
    display: none;
}

.nav ul li{
    display: flex;
    margin: 30px;
    align-items: center;
    z-index: 9;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
}



.nav a {
    text-decoration: none;
    color: #fff;
    font-size: 1,6rem;
    transition: .5s ease;
}



.nav a::after {
    content:'';
    display: block;
    width: 0;
    height: 2px;
    background:rgb(136, 0, 170);
    transition: width .3s;
    margin: auto;
}


.nav a:hover::after {
    width: 100%;
    transition: width .3s;
    margin-top: 5px;
    
}



.nav .logo{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    margin-left: 60px;
    border:1px solid white;
    padding: 5px;
    border-radius: 10px;

}


.nav-list{
    list-style: none;
    display: flex;
    margin-right: 100px;
    
}


.scrolling-active{
    background-color: #fff;
    box-shadow: 0 3px 1rem rgba(0,0,0.1);
    transition: ease 1s;
    z-index: 9;
}


.scrolling-active a{
    color: #000000d2;
}



.scrolling-active a::after {
    content:'';
    display: block;
    width: 0;
    height: 2px;
    background:rgb(136, 0, 170);
    transition: width .3s;
}


.scrolling-active a:hover::after {
    width: 100%;
    transition: width .3s;
}




.scrolling-active .logo {
    border: 1px solid rgba(71, 71, 71, 0.767);
    color: rgb(60, 60, 61);
}


.scrolling-active small.smalltextlogo {
    color:black;
}

a#logoheader {
    display: inline-flex;
    user-select: none;
    }


.logodiv {
  display: flex;       
  align-content: center;
 justify-content: center;
 align-items: center;
    }
    
small.smalltextlogo{
  color:white;
  font-family: 'Poppins', sans-serif;
 user-select: none;
 margin:7px;

    }


/* De 600px para abajo */
@media only screen and (max-width: 768px) {

    
    .nav-list {
       display: none;
    }

    .burguermenu svg {
        display: block;
        color: #d9d9d9;
        width: 25px;
    }
    .scrolling-active .burguermenu svg {
        display: block;
        color: #242323;
        width: 25px;
    }
    

    .burguermenu {
        margin: 25px;
    }

    .containernav {
        display: inline-block;
        width: 30px;
        height: 60px;
    }



  }