@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&family=Roboto:wght@300&family=Work+Sans:wght@100;300;700&display=swap');


.sobremi {
    width: 100%;
    height: 300px;
    background-color: #ffffff;
}

.sobremi h3 {
    text-align: center;
    font-size: 35px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
    padding-top: 40px;
    text-transform: uppercase;
    color: #15708f;
    text-decoration: underline grey;
    text-decoration-color: #15708f;

}


.sobremi p {
    text-align: center;
    margin-top: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: rgb(37, 37, 37);

}

.lenguajes {
    text-align: center;
    font-size: 30px;
    color: rgb(54, 54, 54);
    margin: 20px;
    font-family: 'Poppins', sans-serif;
}


.portfolio {
    width: 100%;
    height: 300px;
    background-image: url("/public/images/service-bg.jpg");

}



.portfolio h3 {
    text-align: center;
    font-size: 35px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
    padding-top: 40px;
    text-transform: uppercase;
    color: #15708f;
    text-decoration: underline;
    text-decoration-color: #15708f;

}

.curriculum {
    width: 100%;
    height: 300px;
}

.curriculum h3 {
    text-align: center;
    font-size: 35px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
    padding-top: 40px;
    text-transform: uppercase;
    color: #15708f;
    text-decoration: underline;
    text-decoration-color: #15708f;
}



.contacto {
    width: 100%;
    height: 300px;
    background-color: #1A8DB4;
}

.contacto h3 {
    text-align: center;
    font-size: 35px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
    padding-top: 40px;
    text-transform: uppercase;
    color: #eeeeee;
    text-decoration: underline;
}

.separador {
    width: 100%;
    height: 70px;
    background-color: #4d4d4e;
}


.shortcut  {
    border-radius: 10px;
}